@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LexendDeca";
  src: local("LexendDeca"), url("./fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
}
@font-face {
  font-family: "DMSerifDisplay";
  src: local("DMSerifDisplay"), url("./fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
